<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653820264059-hsvqutov1tpigfuaa7r8uimlgul6oda0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653820264059-hsvqutov1tpigfuaa7r8uimlgul6oda0</string>
	<key>API_KEY</key>
	<string>AIzaSyDizw6qTb-2LCz_p43RdXtXLuBdV1EY46c</string>
	<key>GCM_SENDER_ID</key>
	<string>653820264059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginSetup</string>
	<key>PROJECT_ID</key>
	<string>login-setup-8cc0c</string>
	<key>STORAGE_BUCKET</key>
	<string>login-setup-8cc0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653820264059:ios:445b793905f29f3a69ecde</string>
</dict>
</plist>